/* 
1.0 Base
    1.1 Header
        1.1.1 Top Menu
        1.1.2 Header Menu
    1.2 Footer
        1.2.1 Footer Top
        1.2.2 Footer Bottom
3.0 Content
    3.1 Home Page Content
        3.1.1 Content Page 1
        3.1.2 Cotent Page 2
    3.2 Blog Content
        3.2.1 Item Blog Content
*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(/assets/font/Poppins-Bold.ttf);
  font-family: 'poppins-bold';
}
@font-face {
  src: url(/assets/font/Poppins-Regular.ttf);
  font-family: 'poppins-regular';
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  max-width: 1170px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.header .header-slider {
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.header .header-slider img {
  width: 101%;
  height: auto;
  object-fit: cover;
}
.header .header-slider .slogan {
  position: absolute;
  top: 30.9%;
  left: 19.5%;
  color: white;
}
.header .header-slider .slogan h3 {
  font-size: 60px;
  font-family: 'poppins-bold';
  font-weight: 700;
}
.header .header-slider .slogan h4 {
  font-size: 40px;
  font-family: 'poppins-bold';
  font-weight: 700;
  transform: translate(0, -15%);
}
.header .header-slider .slogan p {
  width: 532px;
  font-family: 'poppins-regular';
  font-size: 14px;
  line-height: 24px;
  transform: translate(0.3%, 14%);
}
.header .header-slider .slogan button {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  padding: 14px 46px;
  transform: translate(2%, 127%);
}
.header .header-slider .slogan button a {
  font-family: 'poppins-regular';
  font-size: 14px;
  color: white;
}
.header .header-slider .slogan button:hover {
  background-color: blue;
}
.header .header-nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 100;
}
.header .header-nav .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  height: 100%;
}
.header .header-nav .row .nav-logo {
  width: 200px;
}
.header .header-nav .row .nav-logo img {
  width: 100%;
  height: auto;
  transform: translate(4%, 42%);
}
.header .header-nav .nav-nav {
  font-family: 'poppins-regular';
  font-size: 16px;
}
.header .header-nav .nav-nav ul {
  display: flex;
  margin-top: 40px;
}
.header .header-nav .nav-nav ul li:nth-child(1) {
  transform: translateX(-254%);
}
.header .header-nav .nav-nav ul li:nth-child(2) {
  transform: translateX(-143%);
}
.header .header-nav .nav-nav ul li:nth-child(3) {
  transform: translateX(-32%);
}
.header .header-nav .nav-nav ul li:nth-child(4) {
  transform: translateX(55%);
}
.header .header-nav .nav-nav ul li:nth-child(5) {
  transform: translateX(249%);
}
.header .header-nav .nav-nav ul li:nth-child(6) {
  transform: translateX(188%);
}
.header .header-nav .nav-nav ul li a {
  color: white;
}
.header .header-nav .nav-nav ul li a:hover {
  color: blue;
}
.header .header-nav .burger {
  display: none;
}
.header .header-nav .nav-advance {
  display: flex;
  margin-top: 44px;
}
.header .header-nav .nav-advance .color {
  color: white;
}
.header .header-nav .nav-advance .bd {
  border-left: solid 2px white;
  height: 18px;
}
.header .header-nav .nav-advance div {
  margin-left: 30px;
}
.header .header-nav .nav-advance div:nth-child(1) {
  transform: translateX(138%);
}
.header .header-nav .nav-advance div:nth-child(2) {
  transform: translateX(19px);
}
.header .header-nav .nav-advance div:nth-child(3) {
  transform: translateX(89%);
}
.header .header-nav .nav-advance div:nth-child(4) {
  transform: translateX(12px);
}
.header .header-nav .nav-advance div:nth-child(5) {
  transform: translateX(54%);
}
@media screen and (max-width: 1025px) {
  .header .header-nav .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header-nav .row .nav-logo img {
    transform: translate(0, 0);
  }
  .header .header-nav .row .nav-nav ul {
    margin: 0;
  }
  .header .header-nav .row .nav-advance {
    margin: 0;
  }
  .header .header-slider .slogan {
    position: absolute;
    top: 30.9%;
    left: 5%;
  }
  .header .header-slider .slogan button {
    transform: translate(2%, 40%);
  }
}
@media screen and (max-width: 768px) {
  .header .header-nav {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header-slider {
    margin-top: 100px;
  }
  .header-slider .slogan {
    position: absolute;
    top: 30.9%;
    left: 5%;
  }
  .header-slider .slogan button {
    position: absolute;
    bottom: 0px;
    left: 530px;
  }
}
@media screen and (max-width: 640px) {
  .nav-advance {
    position: absolute;
    left: 167px;
    bottom: 15px;
  }
  .nav-nav {
    display: none;
  }
  .header .header-nav .burger {
    display: block;
    right: 35px;
    bottom: 25px;
    position: absolute;
  }
  .header .header-nav .burger .line {
    width: 35px;
    height: 2px;
    background-color: white;
    margin-top: 5px;
  }
  .header-slider .slogan {
    transform: scale(0.8, 0.8);
    position: absolute;
    left: -5%;
  }
  .header-slider .slogan p {
    display: none;
  }
  .header-slider .slogan button {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}
@media screen and (max-width: 414px) {
  .nav-advance {
    left: -13px;
    bottom: 21px;
  }
  .header-slider img {
    transform: scale(1.5, 1.5);
  }
  .header .header-slider .slogan {
    transform: scale(0.5, 0.5);
    position: absolute;
    top: -11.1%;
    left: -15%;
    line-height: 1.3;
  }
  .header .header-slider .slogan button {
    position: absolute;
    bottom: -40px;
    left: 0;
  }
}
@media screen and (max-width: 375px) {
  .header .header-slider .slogan {
    transform: scale(0.4, 0.4);
    position: absolute;
    top: -15.1%;
    left: -31%;
  }
  .header .header-slider .slogan button {
    position: absolute;
    bottom: -40px;
    left: 0;
  }
}
.footer {
  width: 100%;
  background-color: #222222;
}
.footer .footer-top {
  height: 350px;
  transform: translateY(97px);
}
.footer .footer-top .footer__logo {
  text-align: center;
}
.footer .footer-top .footer__text {
  text-align: center;
  transform: translateY(35px);
}
.footer .footer-top .footer__text p {
  font-family: 'poppins-regular';
  font-size: 14px;
  width: 724px;
  display: inline-block;
  color: #6e6e6e;
}
.footer .footer-top .footer__link {
  transform: translateY(75px);
}
.footer .footer-top .footer__link ul {
  display: flex;
  justify-content: center;
}
.footer .footer-top .footer__link ul li {
  margin-left: 15px;
}
.footer .footer-top .footer__link ul li a {
  color: #6e6e6e;
}
.footer .footer-mid {
  margin-top: 75px;
  height: 314px;
}
.footer .footer-mid h3 {
  font-family: 'poppins-bold';
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}
.footer .footer-mid p {
  font-family: 'poppins-regular';
  font-size: 14px;
  color: #6e6e6e;
}
.footer .footer-mid .row__footer-mid div {
  width: calc(270%/11.7);
}
.footer .footer-mid .row__footer-mid div + div {
  margin-left: 30px;
}
.footer-bot {
  background-color: #111111;
  width: 100% ;
  height: 50px;
  line-height: 50px;
}
.footer-bot p {
  text-align: center;
  color: #6e6e6e;
}
.introduce {
  position: relative;
  bottom: 83px;
  left: 9px;
  border-bottom: 1px #dcdcdc solid;
  border-left: 1px #dcdcdc solid;
  border-right: 1px #dcdcdc solid;
  height: 500px;
}
.sub-intro {
  width: calc(100%/3);
  height: 100%;
}
.sub-intro h3 {
  font-family: 'poppins-bold';
  font-size: 18px;
  text-transform: uppercase;
}
.sub-intro p {
  font-family: 'poppins-regular';
  font-size: 14px;
  width: 80%;
  text-align: center;
}
.dumbell-icon,
.strength-icon,
.power-icon {
  position: relative;
}
.dumbbells .dumbbell-img img {
  width: 100%;
  height: 100%;
}
.dumbbells .dumbell-icon {
  height: 250px;
}
.dumbbells .dumbell-icon img {
  position: absolute;
  left: 40.7%;
  top: 18%;
}
.dumbbells .dumbell-icon h3 {
  position: absolute;
  top: 48.5%;
  left: 36.4%;
}
.dumbbells .dumbell-icon p {
  position: absolute;
  top: 65.7%;
  left: 9.7%;
  line-height: 24px;
}
.strength .strength-img img {
  width: 100%;
  height: 100%;
}
.strength .strength-icon {
  background: #ffffff;
  height: 250px;
}
.strength .strength-icon img {
  position: absolute;
  left: 43%;
  top: 12.7%;
}
.strength .strength-icon h3 {
  position: absolute;
  top: 50%;
  left: 37.8%;
}
.strength .strength-icon p {
  position: absolute;
  top: 67.7%;
  left: 9.9%;
  line-height: 24px;
}
.power .power-img img {
  width: 100%;
  height: 100%;
}
.power .power-icon {
  height: 250px;
}
.power .power-icon img {
  position: absolute;
  left: 43.1%;
  top: 11.2%;
}
.power .power-icon h3 {
  position: absolute;
  top: 48.6%;
  left: 24%;
  word-spacing: -1px;
}
.power .power-icon p {
  position: absolute;
  top: 65.9%;
  left: 10%;
  line-height: 24px;
}
@media screen and (max-width: 1024px) {
  .introduce {
    bottom: 20px;
    left: 9px;
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .introduce {
    bottom: 0;
    height: 750px;
    left: unset;
    margin-bottom: 30px;
  }
  .introduce .row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .introduce .row .sub-intro {
    display: flex;
    width: 100%;
  }
  .introduce .row .sub-intro div {
    width: 50%;
  }
}
@media screen and (max-width: 414px) {
  .introduce {
    height: 1500px;
  }
  .introduce .row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .introduce .row .sub-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .introduce .row .sub-intro div {
    width: 100%;
  }
  .introduce .row .sub-intro .strength-img {
    order: 1;
  }
  .introduce .row .sub-intro .strength-icon {
    order: 2;
  }
}
#abc {
  display: none;
  position: absolute;
}
.products {
  width: 100%;
}
.products .row {
  margin-top: 35.6px;
}
.products .row + .row {
  margin-top: 46px;
}
.products .products-bar {
  position: relative;
  margin-top: 14px;
}
.products .products-bar .fa-grip-lines-vertical {
  display: none;
}
.products .products-bar button {
  text-transform: uppercase;
  font-family: 'poppins-bold';
  font-size: 18px;
  background-color: transparent;
  outline: none;
  margin-left: 26px;
}
.products .products-bar button + button {
  margin-left: 31px;
}
.products-product {
  transform: translateX(8px);
}
.products-product .row {
  margin-left: -15px;
  margin-right: -15px;
}
.products-product .row:nth-child(2) > .pr:nth-child(3) img {
  transform: translateY(-5px);
}
.products-product .row:nth-child(2) > .pr:nth-child(4) img {
  transform: translateY(2px);
}
.pr {
  width: 25%;
  height: 330px;
  padding: 0 15px;
}
.pr + :nth-child(7) img {
  transform: translateY(1px);
}
.pr:hover {
  border: 1px #ebebeb solid;
}
.pr img {
  width: 100%;
  height: auto;
}
.pr p,
.pr span {
  margin-left: 30px;
  font-size: 14px;
  line-height: 26px;
}
.pr p {
  font-family: 'poppins-regular';
  margin-top: 18px;
}
.pr span {
  font-family: 'poppins-bold';
}
.client-say .expression {
  margin-top: 90px;
}
.client-say .expression h3 {
  font-family: 'poppins-bold';
  font-size: 36px;
  text-align: center;
  margin-left: 16px;
}
.client-say .expresser {
  text-align: center;
  margin-top: 47px;
  margin-left: 17px;
}
.client-say .expresser-said {
  text-align: center;
  margin-top: 19px;
}
.client-say .expresser-said p {
  width: 770px;
  height: 45px;
  line-height: 30px;
  font-family: 'poppins-regular';
  font-size: 18px;
  display: inline-block;
  font-weight: 400;
  color: #777777;
  margin-top: -2px;
  margin-left: 14px;
}
.client-say p.expresser-name {
  font-family: 'poppins-bold';
  font-size: 18px;
  text-align: center;
  margin-left: 17px;
  margin-top: 31px;
}
.client-say .expresser-congralutation {
  text-align: center;
  margin-top: 9px;
}
.client-say .expresser-congralutation p {
  font-family: 'poppins-regular';
  font-size: 14px;
  display: inline-block;
  margin-left: 17px;
}
.client-say .carasel {
  text-align: center;
}
.client-say .carasel ul {
  display: flex;
  justify-content: center;
}
.client-say .carasel ul li + li {
  margin-left: 10px;
}
.brands {
  margin-top: 116px;
}
.brands .row-brands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brands .brand {
  display: flex;
  max-width: 170px;
  width: calc(170%/11.7);
  height: 152px;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .pr {
    width: calc(260%/11.7);
  }
}
@media screen and (max-width: 768px) {
  .pr {
    width: 45%;
    margin-left: 25px;
    margin-top: 30px;
    height: auto;
  }
  .pr + .pr {
    margin-left: 25px;
  }
  .brands .row-brands {
    justify-content: start;
  }
  .brands .brand {
    max-width: 250px;
    width: 100%;
    height: 150px;
    margin-left: 105px;
  }
  .brands .brand img {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .brands .brand {
    max-width: 250px;
    width: 35%;
    height: 150px;
    margin-left: 85px;
  }
  .brands .brand img {
    width: 70%;
  }
}
@media screen and (max-width: 414px) {
  .products .products-bar button + button {
    margin-left: 25px;
  }
  .pr {
    width: 90%;
    margin-left: 25px;
    margin-top: 30px;
    height: auto;
  }
  .pr + .pr {
    margin-left: 25px;
  }
  .brands .brand {
    max-width: 270px;
    width: 100%;
    height: 150px;
    margin-left: 110px;
  }
  .brands .brand img {
    width: 70%;
  }
}
@media screen and (max-width: 375px) {
  .products .products-bar button + button {
    margin-left: 12px;
  }
  .products .products-bar button {
    font-size: 17px;
  }
  .brands .brand {
    margin-left: 95px;
  }
}
@media screen and (max-width: 320px) {
  .products .products-bar button {
    font-size: 15px;
  }
  .products .products-bar button + button {
    margin-left: 6px;
  }
  .brands .brand {
    margin-left: 80px;
  }
}
