.footer{
    background-color: @cl-bg-black;
    margin-top:2px;
 
    //----LOGO---TEXT---LINK_SOCIAL
    .footer-top{
        height: 350px;
        .footer__logo{
            text-align: center;
            img{
                transform: translate(4px, 100px);
            }
        }
        .footer__text{
            text-align: center;
            transform: translateY(132px);
            p{
                display: inline-block;
                font-family: 'Poppins-regular';
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                width: 724px;
                color:@cl-btn;
                margin-left: 10px;
                margin-top: -4px;
            }
        }
        .footer__link{
            transform: translateY(175px);
            ul{
                display: flex;
                justify-content: center;
                li a:hover{
                    color:@blue;
                }
                li:nth-child(1){transform: translateX(-59px);}
                li:nth-child(2){transform: translateX(-9px);}
                li:nth-child(3){transform: translateX(34px);}
                li:nth-child(4){transform: translateX(77px);}
                li{
                    a{
                        color:#777777;
                        font-size:18px;
                    }
                }
            }
        }
    }
    //-------------------
    .line-footer{
        height: 1px;
        background: @cl-line;
        margin-top:2px;
        margin-left:-15px;
        margin-right:-15px;

    }
    //--------------------

    //--------INFORMATION ABOUT US----------
    .footer-mid{
        height: 315px;
        .row__footer-mid{
            padding-top: 71px;
            div{
                width: 25%;
                h3{
                    font-family: 'Poppins-bold';
                    font-weight: 700;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: @cl-bg-white;
                    line-height: 30px;
                    padding-left:2px;
                }
               
                a{
                    font-family: 'Poppins-regular';
                    font-size: 14px;
                    font-weight: 400;
                    color:@cl-btn;
                    line-height: 40px;
                    transform: translate(8px, 16px);
                    display: block  ;
                    &:hover{
                        color: white;
                    }
            }
        }
        .myaccount{
            h3{padding-left: 10px;}
            a{ padding-left: 4px; }  
        }

        .information {
            h3{ padding-left: 17px;}
            a{ padding-left: 10px; } 
        }

        .qlink {
            h3{ padding-left: 26px;}
            a{  padding-left: 18px;} 
        }
        
        .contact{
           
            a:nth-of-type(1){ 
                transform: translate(22px,15px);
                i{
                    transform: translate(-18px, 1px);
                }
            }
            a:nth-of-type(2){ 
                transform: translate(15px,15px);
                i{
                    transform: translate(-12px, 1px);
                }
            }
            a:nth-of-type(3){ 
                transform: translate(15px,15px);
                letter-spacing: 0.2px;
                i{
                    transform: translate(-11px, 1px);
                }
            }
            a:nth-of-type(4){ 
                transform: translate(15px,15px);
                letter-spacing: -0.2px;
                i{
                    transform: translate(-11px, 1px);
                }
            }
            a{letter-spacing: -0.1px;}
        }
    
    }
    }
}
//-----------THE COPYRIGHT---------//
.footer__bot{
    background-color: @black;
    width: 100% ;
    height: 50px;
    line-height: 50px;
    p{
        font-family: 'Poppins-regular';
        font-weight: 400;
        color:@cl-font;
        font-size: 14px;
        letter-spacing: -0.1px;
        display: flex;
        justify-content: center;
        margin-left: 8.5px;
        
    }
}

//-----------------------------------------------------//

/***********RESPONSIVE-----FOOTER***********************/
//FOR
@media screen and (max-width:1919px){
    .footer .footer-mid .row__footer-mid div {
        padding: 0 15px;
    }
    .footer .footer-top .footer__text p,.footer__bot p {
        margin-left:0;
    }
}

@media screen and (max-width:1025px){
    
    .footer .footer-mid{
       height: 560px;
    }
    .footer .footer-mid .row__footer-mid div{
        width: 45%;
        text-align: center;
        height: 250px;
        h3,p{
            transform: unset;
        }
    }
    .footer .footer-top .footer__text p{
        width: 90%;
    }
    .footer__bot p{
        text-align: center;
    }
    .footer .footer-mid .row__footer-mid {
        justify-content: center;
    }
    
    .footer .footer-mid .row__footer-mid div a{
        transform: translate(0, 15px);
    }
    .footer .footer-mid .row__footer-mid .myaccount a {
        padding-left: 0;
    }
    .footer .footer-mid .row__footer-mid .myaccount h3 {
        padding-left: 0;
    }
    .footer .footer-mid .row__footer-mid .information a {
        padding-left: 0;
    }
    .footer .footer-mid .row__footer-mid .information h3 {
        padding-left: 0;
    }
    .footer .footer-mid .row__footer-mid .qlink a {
        padding-left: 0;
    }
    .footer .footer-mid .row__footer-mid .qlink h3 {
        padding-left: 0;
    }

}
//---------------------------------------

//FOR
@media screen and (max-width:768px){

    .footer .footer-mid .row__footer-mid div{
        width: 45%;
        margin-top: 30px;
        text-align: center;
        height: auto;
    }
    .footer .footer-mid .row__footer-mid div{
        width: 50%;
    }
    .footer .footer-mid .row__footer-mid .contact p:nth-of-type(n){
        transform: unset;
    }
   
    .footer .footer-mid .row__footer-mid {
        padding-top: 50px;
    }
    .footer .footer-mid .row__footer-mid .contact a:nth-of-type(n) {
        transform: translate(0px, 15px);
    }
}

//----------------------------------------------

//FOR................
@media screen and (max-width:600px){
    .footer .footer-mid .row__footer-mid div{
        margin-top: 30px;
        width: 100%;
    }

    .footer .footer-mid{
       height: 980px;
    }
    .footer .footer-mid .row__footer-mid {
        padding-top: 30px;
    }
    
}
//------------------------

//FOR..................
@media screen and (max-width:480px){
    .footer-top{
        height: 420px;
    }
    .footer__bot{
        height: 50px;
        line-height: 24px;
    }
    .footer .line-footer{
        transform: translateY(50px);
    }
    .footer .footer-mid .row__footer-mid {
        padding-top: 60px;
    }
    .footer .footer-top .footer__logo img {
        transform: translate(4px, 60px);
    }
    .footer .footer-top .footer__text {
        transform: translateY(100px);
    }
    .footer .footer-top .footer__link {
        transform: translateY(150px);
    }
}



@media screen and (max-width: 320px){
    .footer .footer-top .footer__link {
        transform: translateY(130px);
    }

}
