@font-face {
  font-family: 'Poppins-bold';
  src: url(../font/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'Poppins-regular';
  src: url(../font/Poppins-Regular.ttf);
}
body {
  overflow-x: hidden;
  font-family: 'Poppins-regular';
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ca2758;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.row {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
