.products {
  width: 100%;
}
.products .pr .pr-img {
  position: relative;
}
.products .pr .pr-img .product-advance {
  display: none;
  position: absolute;
  top: 21px;
  right: 21px;
}
.products .pr .pr-img .product-advance a:not(:first-child) {
  margin-top: 15px;
}
.products .pr .pr-img .product-advance a {
  color: #777777;
  border: 1px ridge #777777;
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}
.products .pr .pr-img .product-advance a:hover {
  color: white;
  background: #dd2f31;
  font-weight: 400;
  font-size: 14px;
}
.products .pr:hover .product-advance {
  display: flex;
  flex-direction: column;
}
.products .row {
  margin-top: 35.6px;
}
.products .row + .row {
  margin-top: 46px;
}
.products .products-bar {
  position: relative;
  margin-top: 14px;
}
.products .products-bar .line-footer {
  height: 1px;
  background: #dddddd;
  width: 100%;
  margin-top: 17px;
}
.products .products-bar #abc {
  position: absolute;
  bottom: 0;
  left: 8px;
}
.products .products-bar .fa-grip-lines-vertical {
  display: none;
}
.products .products-bar .btn1 {
  color: #dd2f31;
}
.products .products-bar button {
  text-transform: uppercase;
  font-family: 'poppins-bold';
  font-size: 18px;
  background-color: transparent;
  outline: none;
  margin-left: 26px;
}
.products .products-bar button + button {
  margin-left: 31px;
}
.products-product {
  transform: translateX(8px);
}
.products-product .row-featured,
.products-product .row-most__reviews {
  display: none;
}
.products-product .row {
  margin-left: -15px;
  margin-right: -15px;
}
.products-product .row:nth-child(2) > .pr:nth-child(3) img {
  transform: translateY(-5px);
}
.products-product .row:nth-child(2) > .pr:nth-child(4) img {
  transform: translateY(2px);
}
.pr {
  width: 25%;
  height: 330px;
  padding: 0 15px;
}
.pr + :nth-child(7) img {
  transform: translateY(1px);
}
.pr:hover {
  border: 1px #cccccc solid;
  transform: scale(1.1, 1.1);
  transition: 1s;
}
.pr img {
  width: 100%;
  height: auto;
}
.pr p,
.pr span {
  margin-left: 30px;
  font-size: 14px;
  line-height: 26px;
}
.pr p {
  font-family: 'poppins-regular';
  margin-top: 18px;
}
.pr span {
  font-family: 'poppins-bold';
}
.client-say {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
}
.client-say .slider {
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}
.client-say .slider .clients {
  display: flex;
  width: 500%;
  overflow: hidden;
}
.client-say .slider .clients input {
  display: none;
}
.client-say .slider .clients .client {
  width: 20%;
  transition: 2s;
}
.client-say .navigation-manual {
  position: absolute;
  width: 800px;
  bottom: -48px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  left: 193px;
}
.client-say .navigation-manual .manual-btn {
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.client-say .navigation-auto {
  position: absolute;
  width: 800px;
  bottom: -48px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  left: 193px;
}
.client-say .navigation-auto div {
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background: #cccccc;
}
.client-say .manual-btn:not(:last-child) {
  margin-right: 5px;
}
.client-say .manual-btn:hover {
  background-color: #dd2f31;
}
.client-say #radio1:checked ~ .client__first {
  margin-left: 0;
}
.client-say #radio2:checked ~ .client__first {
  margin-left: -20%;
}
.client-say #radio3:checked ~ .client__first {
  margin-left: -40%;
}
.client-say .navigation-auto div:not(:last-child) {
  margin-right: 5px;
}
.client-say #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #dd2f31;
}
.client-say #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #dd2f31;
}
.client-say #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #dd2f31;
}
.client-say .expression {
  margin-top: 90px;
}
.client-say .expression h3 {
  font-family: 'poppins-bold';
  font-size: 36px;
  text-align: center;
  margin-left: 16px;
}
.client-say .expresser {
  text-align: center;
  margin-top: 47px;
  margin-left: 17px;
}
.client-say .expresser-said {
  text-align: center;
  margin-top: 19px;
}
.client-say .expresser-said p {
  width: 770px;
  height: 45px;
  line-height: 30px;
  font-family: 'poppins-regular';
  font-size: 18px;
  display: inline-block;
  font-weight: 400;
  color: #777777;
  margin-top: -2px;
  margin-left: 14px;
}
.client-say p.expresser-name {
  font-family: 'poppins-bold';
  font-size: 18px;
  text-align: center;
  margin-left: 17px;
  margin-top: 31px;
}
.client-say .expresser-congralutation {
  text-align: center;
  margin-top: 9px;
}
.client-say .expresser-congralutation p {
  font-family: 'poppins-regular';
  font-size: 14px;
  display: inline-block;
  margin-left: 17px;
}
.brands {
  margin-top: 150px;
  height: 151px;
}
.brands .line-footer {
  height: 1px;
  background: #dddddd;
  width: 100%;
  margin-top: -4px;
}
.brands .row-brands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 4px;
}
.brands .brand {
  padding: 0 15px;
  display: flex;
  max-width: 170px;
  width: calc(100%/6);
  align-items: center;
  justify-content: center;
  height: 150px;
}
.brands .brand img {
  display: block;
  width: auto;
  height: auto;
}
.brands .br1 img {
  transform: translate(21px, -3px);
}
.brands .br2 img {
  transform: translate(16px, -3px);
}
.brands .br3 img {
  transform: translate(10px, -3px);
}
.brands .br4 img {
  transform: translate(3px, -3px);
}
.brands .br5 img {
  transform: translate(-2px, -3px);
}
.brands .br6 img {
  transform: translate(-9px, -3px);
}
@media screen and (max-width: 1024px) {
  .pr {
    width: calc(260%/11.7);
  }
  .client-say .navigation-manual,
  .client-say .navigation-auto {
    left: 113px;
  }
  .brands .brand img {
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 768px) {
  .client-say .expresser-said p {
    width: 90%;
  }
  .client-say .navigation-manual,
  .client-say .navigation-auto {
    left: -14px;
  }
  .pr {
    width: 45%;
    margin-left: 25px;
    margin-top: 30px;
    height: auto;
  }
  .pr + .pr {
    margin-left: 25px;
  }
  .brands .row-brands {
    justify-content: center;
  }
  .brands {
    height: 450px;
  }
  .brands .brand {
    max-width: 250px;
    width: 100%;
    height: 200px;
  }
  .brands .brand img {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .brands .brand {
    max-width: 250px;
    width: 40%;
    height: 150px;
  }
  .brands .brand img {
    width: 70%;
  }
  .client-say .navigation-manual,
  .client-say .navigation-auto {
    left: -100px;
  }
}
@media screen and (max-width: 414px) {
  .products .products-bar button + button {
    margin-left: 25px;
  }
  .pr {
    width: 90%;
    margin-left: 25px;
    margin-top: 30px;
    height: auto;
  }
  .pr + .pr {
    margin-left: 25px;
  }
  .brands {
    height: 900px;
  }
  .brands .brand {
    max-width: 270px;
    width: 100%;
    height: 150px;
  }
  .brands .brand img {
    width: 70%;
  }
  .client-say .navigation-manual,
  .client-say .navigation-auto {
    left: -190px;
  }
}
@media screen and (max-width: 375px) {
  .products .products-bar button + button {
    margin-left: 12px;
  }
  .products .products-bar button {
    font-size: 17px;
  }
  .client-say .navigation-manual,
  .client-say .navigation-auto {
    left: -210px;
  }
}
@media screen and (max-width: 320px) {
  .products .products-bar button {
    font-size: 15px;
  }
  .products .products-bar button + button {
    margin-left: 6px;
  }
  .client-say .navigation-manual,
  .client-say .navigation-auto {
    left: -239px;
  }
}
