.products {

  .container{
    box-sizing: content-box;
  }
  .pr .pr-img {
    position: relative;
    .product-advance{
      display: none;
      position: absolute;
      top:21px;
      right:21px;
      
      a:not(:first-child){
        margin-top: 15px;
      }
      a{
        color:@cl-btn;
        border: 1px ridge @cl-btn;
        display: inline-block;
        width: 34px;
        height: 34px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
       
        &:hover{
          color:@white;
          background: @cl-btn-hover;
          font-weight: 400;
          font-size:14px;
          
        }
      }
    }
  }
  .pr:hover .product-advance{
    .display-flex;
    flex-direction: column;
  }
 
  width: 100%;
//-------TAB-BAR__PRODUCT---------
  .products-bar {
    position   : relative;
    margin-top: 15px;
    margin-bottom: 41px;
    .line-active{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 145px;
      height: 2px;
      background-color: red;
    }
    input{
      position: absolute;
      height: 27px;
      width: 110px;
      opacity: 0;
      cursor: pointer;
    } 
    .tsl{
      left:25px;
      &:checked ~ .line-active{
          left:3px;
        }
    }

    .ft{
      left:150px;
      &:checked~ .line-active{
          left:122px;
        }
    }

    .mrv{
      left:280px;
      &:checked ~ .line-active{
        left:271px;
      }
    }
    
    .line-footer{
      height: 1px;
      background: @cl-line;
      margin-top: 13px;
  }
 
    .fa-grip-lines-vertical{
      display: none;
    }
    input:checked +button{
      color: @cl-btn-hover;
    }
    button {
      text-transform  : uppercase;
      font-family: 'Poppins-bold';
      font-size       : 18px;
      background-color: transparent;
      outline         : none;
      margin-left: 21px;
      ~button {
        margin-left: 31px;
      }
    }
  }
}
.products-product{
  .row-featured,.row-most__reviews{
    display: none;
  }
  .row{
    .transform-translateX(5px);
  }

}

.pr {
  width : 25%;
  height: 330px;
  padding: 0 15px;
  margin-bottom: 45px;

  &:hover .item {
    border: 1px @cl-border ridge;
    transition: 1s;
    box-shadow:1px 1px 1px  @cl-border ;
    height: inherit;
  }

  img {
    width : 100%;
    height: auto;
  }
  &:nth-child(7) .pr-img img{
    .transform-translateY(-5px);
  }
  p,
  span {
    margin-left: 30px;
    font-size  : 14px;
    line-height: 26px;
  }

  p {
    margin-top : 18px;
  }

  span {
    font-family: 'Poppins-bold';
  }
}

//SLIDER------------CLIENT_SAY-------------
.client-say{
	.display-flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  .slider{
    width:100%;
	  border-radius: 10px;
	  overflow: hidden;
    .clients{
      .display-flex;
      width: 500%;
      input{
        display: none;
      }
      .client{
        width: 20%;
        transition: 2s;
      }
    }
  }
  .navigation-manual{
    position: absolute;
    width: 100px;
    bottom: -48px;
    .display-flex;
    cursor: pointer;
    justify-content: center;
    left:539px;
    .manual-btn{
      border:1px solid @cl-border;
      padding:4px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }
  }
  
  .navigation-auto{
    position: absolute;
    width: 100px;
    bottom: -48px;
    .display-flex;
    cursor: pointer;
    justify-content: center;
    left:539px;
    div{
      border:1px solid @cl-border;
      padding:4px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
      background: @cl-border;
    }
    div:not(:last-child){
      margin-right: 10px;
    }
  }

  .manual-btn:not(:last-child){
    margin-right: 10px;
  }
  .manual-btn:hover{
    background-color: @cl-btn-hover;
  }
#radio1:checked ~ .client__first{
	margin-left:0;
}

#radio2:checked ~ .client__first{
	margin-left:-20%;
}

#radio3:checked ~ .client__first{
	margin-left:-40%;
}

#radio1:checked ~.navigation-auto .auto-btn1{
	background-color: @cl-btn-hover;
}
#radio2:checked ~.navigation-auto .auto-btn2{
  background-color: @cl-btn-hover;
}
#radio3:checked ~.navigation-auto .auto-btn3{
  background-color: @cl-btn-hover;
}  
  
  


  .expression{
    margin-top: 44px;
    h3{
      font-family: 'Poppins-bold';
      font-size: 36px;
      text-align: center;
      margin-left: 9px;
    }
  }
  .expresser{
    text-align: center;
    margin-top: 45px;
    margin-left: 9px;
  }
  .expresser-said{
    text-align: center;
    margin-top: 16px;
    p{
      width: 770px;
      height: 45px;
      line-height: 30px;
      font-size: 18px;
      display: inline-block;
      color: @cl-btn;
      margin-top: -1px;
      margin-left: 7px;

    }
  }
  p.expresser-name{
    font-family: 'Poppins-bold';
    font-size: 18px;
    text-align: center;
    margin-left: 9px;
    margin-top: 29px;
  }
  .expresser-congratulation{
    text-align: center;
    margin-top: 3px;
    p{
      font-size: 14px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}
///END -----------------.client-say--------------

//-------------------------------BRAND-----------
.brands{
  margin-top:147px;
  .container{
    box-sizing: content-box;
  }
  .line-footer{
    height: 1px;
    background: @cl-line;
}
  .row-brands{
    .display-flex;
    flex-wrap: wrap;
  }
  .brand{
    padding:0 15px;
    .display-flex;
    width: @width-brand ;
    align-items: center;
    justify-content: center;
    height: 150px;
    img{
      display: block;
      width: auto;
      height: auto;
    }
  }
  .br1 img{.transform-translateX(1px);}
  .br2 img{.transform-translateX(2px);}
  .br3 img{.transform-translateX(2px);}
  .br4 img{.transform-translateX(1px);}
  .br5 img{.transform-translateX(2px);}
  .br6 img{.transform-translateX(1px);}

}
//END BRAND------------------------------------------------------------------


//------------------------------------

//FOR...............
@media screen and (max-width:1024px){
  .products .container,.brands .container{
    box-sizing: border-box;
  }
  .brands .brand img{
    .transform-translate(0,0);
  }
  .brands{
    height: auto;
  }
  .brands .brand {
    width: calc(100%/3);
    height: 150px;
}
}

//------------------------------------

//FOR...............
@media screen and (max-width:768px){
  
  .client-say .expresser-said p {
    width: 90%;
  }
  
  .pr{
    width: 50%;
    margin-top:30px;
    height: auto;
  }
  .brands .brand{
    width: 50%;
  }
}

//------------------------------------

//FOR...............
@media screen and (max-width:600px){
  
}

//------------------------------------

//FOR...............
@media screen and (max-width:414px){
  .products .products-bar button{
    margin-left:0;
  }
  .products .products-bar button ~ button{
    margin-left:10px;
  }
  .products .products-bar .line-active{
    left:0;
    width: 115px;
  }
  .products .products-bar .tsl:checked ~ .line-active{
    left:0;
  }
  .products .products-bar .ft:checked ~ .line-active{
    left:109px;
  }
  .products .products-bar .mrv:checked ~ .line-active{
    left:242px;
  }
  .products .products-bar .tsl{
    left:0;
  }
  .products .products-bar .ft{
    left:113px;
  }
  .products .products-bar .mrv{
    left:240px;
  }
  .pr{
    width: 100%;
    margin-top:30px;
  }
 
}
//------------------------------------

//FOR...............
@media screen and (max-width:376px){
  .products .products-bar .line-active{
    width: 103px;
  }

  .products .products-bar button{
      font-size: 15px;
  }
  .products .products-bar .mrv:checked ~ .line-active {
    left: 229px;
  }
  .products .products-bar{
    margin-left:-15px;
    margin-right:-15px;
  }
  .products .products-bar input{
    width: 100px;
  }
  .products .products-bar .ft {
    left: 95px;
  }
  .products .products-bar .mrv {
    left: 200px;
  }
  .products .products-bar .ft:checked ~ .line-active {
    left: 94px;
  }
  .products .products-bar .mrv:checked ~ .line-active {
    left: 201px;
  }

}
//------------------------------------

//FOR...............
@media screen and (max-width:320px){
  .products .products-bar .line-active {
    width: 95px;
  }
  .products .products-bar .ft:checked ~ .line-active {
    left: 97px;
  }
  .products .products-bar .mrv:checked ~ .line-active {
    left: 205px;
  }
  .brands .brand{
    width: 100%;
  }
  .brands .row-brands {
    justify-content: center;
  }
}

@media screen and (max-width:1900px){
  
  .products-product .row {
    transform: unset;
  }
  .client-say .navigation-manual, .client-say .navigation-auto {
    left: 50%;
    .transform-translateX(-50%);
}
}
